.app-bar-wrapper {
    justify-content: space-between;
}
.icon-wrapper {
    display: flex;
    margin-right: 12px;
}
.favourite-heart-btn, 
.share-link-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 4px; */
}
.favourite-heart-btn svg,
.share-link-btn svg  {
    width: 24px;
    height: 24px;
}
.app-body-container {
    height: calc(100vh - 80px);
}
.app-body-scroll {
    padding: 2px 0;
    height: calc(100vh - 132px);
    overflow-y: auto;
}
.apply-btn-wrapper {
    height: 48px;
    color: #FFFFFF;
    background-color: #FC766A;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.separate-line {
    border-bottom: #ADADAD 1px solid;
}
.job-title-area-wrapper {
    padding: 16px;
}
.job-section-wrapper {
    padding: 6px 16px;
}
.section-text-white-space {
    padding: 2px 0;
}
.job-title {
    font-size: 22px;
    padding-bottom: 6px;
}
.job-subtitle-wrapper {
    display: flex;
    font-size: 12px;
}
.job-subtitle-wrapper div {
    margin-right: 8px;
}
.job-company-content {
    color: #FC766A;
}
.content-with-icon {
    display: flex;
    justify-content: space-between;
}
.content-select-icon svg {
    width: 16px;
    height: 16px;
}
.location-map {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    border: 1px #ADADAD solid;
    background-color: #FFFFFF;
}