<div class="app-content-container">
  <div class="app-bar-wrapper vertical-centre">
    <div class="page-bar-icon" (click)="goBack()">
      <svg viewBox="0 0 24 24">
        <path fill="none" d="M0 0h24v24H0V0z" />
        <path fill="#FFFFFF" d="M17.51 3.87L15.73 2.1 5.84 12l9.9 9.9 1.77-1.77L9.38 12l8.13-8.13z" />
      </svg>
    </div>
    <div class="page-title">
      設定
    </div>
    <div class="preview-btn">
      預覽
    </div>
  </div>
  <div class="app-body-container">
    <div class="app-body-scroll">
      <div class="user-profile-container">
        <div class="user-profile-info-wrapper separate-line" (click)="goSetInfo()">
          <div class="user-profile-summary-info">
            <div class="user-profile-user-name">
              John Doe
            </div>
            <div class="user-profile-subtitle-wrapper">
              <div class="user-profile-experience-years grey-text">
                10年以上
              </div>
              <div class="user-profile-latest-education grey-text">
                3-5年
              </div>
              <div class="user-profile-age grey-text">
                38歲
              </div>
            </div>
          </div>
          <div class="user-profile-avatar">
            <img src="https://picsum.photos/128/128" alt="gogoCafe">
          </div>
        </div>
        <div class="setting-section-wrapper-title">
          簡介與優勢
        </div>
      </div>
    </div>
  </div>
</div>