<div class="app-content-container">
  <div class="app-bar-wrapper vertical-centre">
    <div class="page-bar-icon" (click)="goBack()">
      <svg viewBox="0 0 24 24">
        <path fill="none" d="M0 0h24v24H0V0z" />
        <path fill="#FFFFFF" d="M17.51 3.87L15.73 2.1 5.84 12l9.9 9.9 1.77-1.77L9.38 12l8.13-8.13z" />
      </svg>
    </div>
    <div class="icon-wrapper">
      <button mat-icon-button class="favourite-heart-btn" (click)="companyAddFavourite()">
        <svg viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path *ngIf="!companyIsFavourite" fill="#FFFFFF" d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z" />
          <path *ngIf="companyIsFavourite" fill="#FFFFFF" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
        </svg>
      </button>
      <button mat-icon-button class="share-link-btn">
        <svg viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path fill="#FFFFFF" d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" />
        </svg>
      </button>
    </div>
  </div>
  <div class="app-body-container">
    <div class="app-body-scroll">
      <div class="group-container">
        <div class="group-title-summary-wrapper separate-line">
          <div class="group-summary-info">
            <div class="group-title">
              走走咖啡
            </div>
            <div class="group-subtitle-wrapper">
              <div class="job-area grey-text">
                已上市
              </div>
              <div class="job-experience-years grey-text">
                186人
              </div>
              <div class="job-subject grey-text">
                互聯網
              </div>
            </div>
          </div>
          <div class="group-avatar">
            <img src="../../../../../assets/img/go_logo.png" alt="gogoCafe">
          </div>
        </div>
        <div class="group-work-duty-time-wrapper separate-line">
          <div class="group-work-duty-time-info">
            <div class="icon-label">
              <svg viewBox="0 0 24 24">
                <path fill="none" d="M0 0h24v24H0V0z" />
                <path fill="#FC766A" d="M16 10H8c-.55 0-1 .45-1 1s.45 1 1 1h8c.55 0 1-.45 1-1s-.45-1-1-1zm3-7h-1V2c0-.55-.45-1-1-1s-1 .45-1 1v1H8V2c0-.55-.45-1-1-1s-1 .45-1 1v1H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-1 16H6c-.55 0-1-.45-1-1V8h14v10c0 .55-.45 1-1 1zm-5-5H8c-.55 0-1 .45-1 1s.45 1 1 1h5c.55 0 1-.45 1-1s-.45-1-1-1z" />
              </svg>
            </div>
            <div class="work-content grey-text">
              09:00~18:00
            </div>
          </div>
          <div class="group-work-duty-time-info">
            <div class="icon-label">
              <svg viewBox="0 0 24 24">
                <path fill="none" d="M0 0h24v24H0V0z" />
                <path fill="#FC766A" d="M10.59 4.59C10.21 4.21 9.7 4 9.17 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-1.41-1.41z" />
              </svg>
            </div>
            <div class="work-content grey-text">
              週休二日
            </div>
          </div>
          <div class="group-work-duty-time-info">
            <div class="icon-label">
              <svg viewBox="0 0 24 24">
                <circle fill="#fc766a" cx="12" cy="12" r="10" />
                <path fill="none" d="M0,0H24V24H0Z" />
                <path fill="#fff" d="M11.78,7h-.06a.72.72,0,0,0-.72.72v4.72a1,1,0,0,0,.49.86l4.15,2.49a.72.72,0,1,0,.73-1.23l-3.87-2.3V7.72A.72.72,0,0,0,11.78,7Z" />
              </svg>
            </div>
            <div class="work-content grey-text">
              彈性工時
            </div>
          </div>
        </div>
        <div class="group-info-wrapper group-section-wrapper separate-line">
          <div class="group-info-label section-text-white-space ">
            公司介紹
          </div>
          <div class="group-info-content section-text-white-space section-text-ellipsis" >
            <textarea maxlength="120" rows="3" disabled>{{text}}...</textarea>
          </div>
        </div>
        <div class="group-link-wrapper group-section-wrapper separate-line">
          <div class="group-link-label section-text-white-space ">
            相關連結
          </div>
          <div class="group-link-content section-text-white-space section-text-ellipsis" >
            <textarea maxlength="120" rows="3" disabled>{{text}}...</textarea>
          </div>
        </div>
        <div class="group-vacancy-wrapper group-section-wrapper separate-line">
          <div class="group-vacancy-label section-text-white-space ">
            發布中職缺
          </div>
        </div>
        <div class="group-vacancy-list-wrapper">
          <div class="vacancy-item-card-container button-shadow">
            <div class="vacancy-title-salary-wrapper vertical-centre" (click)="selectJoob()">
              <div>
                數據挖掘工程師
              </div>
              <div class="pink-text">
                10k-30k
              </div>
            </div>
            <div class="vacancy-company-wrapper">
              <div class="vacancy-company-name grey-text" (click)="selectJoob()">走走咖啡</div>
            </div>
            <div class="vacancy-tag-favourite-wrapper vertical-centre">
              <div class="card-tag-list" (click)="selectJoob()">
                <div class="card-tag-item grey-text">廈門思明區</div>
              </div>
              <button mat-icon-button class="favourite-heart-btn" (click)="jobAddFavourite()">
                <svg viewBox="0 0 24 24">
                  <path d="M0 0h24v24H0z" fill="none" />
                  <path *ngIf="!jobIsFavourite" fill="#FC766A" d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z" />
                  <path *ngIf="jobIsFavourite" fill="#FC766A" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>