.menu-ghost-btn {
    border: 1px #FFFFFF solid;
    color: #FFFFFF;
    padding: 8px 16px;
    margin-left: 16px;
    display: flex;
    align-items: center;
}
.menu-ghost-btn svg {
    margin-left: 8px;
    width: 16px;
    height: 16px;
}
.search-bar-wrapper {
    width: calc(100% - 158px);
    margin-right: 16px;
    margin-left: 16px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 6px 8px;
    border: 1px #FFFFFF solid;
    border-radius: 6px;
}
.search-icon {
    display: flex;
    align-items: center;
}
.search-icon svg{
    width: 24px;
    height: 24px;
}
.search-icon-input {
    font-size: 16px;
    color: #8a8a8a;
    width: 100%;
}
.filter-tag-container {
    display: flex;
    padding: 8px 16px;
}
.filter-tag-item {
    background-color: #FC766A;
    color: #FFFFFF;
}
.filter-tag-more {
    background-color: #FFFFFF;
    color: #FC766A;
}
.job-vacancy-container {
    height: calc(100vh - 188px);
    padding: 8px 0 2px;
}
.job-vacancy-scroll {
    height: calc(100vh - 188px);
    overflow: auto;
}
.vacancy-item-card-container {
    padding: 6px 8px;
    margin-bottom: 8px;
    background-color: #FFFFFF;
}
.vacancy-title-salary-wrapper,
.vacancy-tag-favourite-wrapper {
    justify-content: space-between;
}
.vacancy-company-name {
    font-weight: 300;
}
.card-tag-list {
    margin: 2px 0 4px;
    width: calc(100% - 48px);
    display: flex;
}
.card-tag-item {
    padding: 4px 6px;
    font-size: 13px;
    font-weight: 300;
    background-color: rgba(252, 118, 106, 0.35);
}
.favourite-heart-btn {
    position: relative;
    z-index: 1001;
}
.favourite-heart-btn svg {
    width: 24px;
    height: 24px;
}
.user-bottom-tool-bar {
    height: 48px;
    display: flex;
    border-top: 1px #FC766A solid;
    background-color: #FFFFFF;
}
.tool-wrapper {
    width: calc(100% / 4);
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tool-icon svg {
    width: 24px;
}
.tool-icon {
    display: flex;
    flex-direction: column;
}
.tool-text {
    color: #FC766A;
    font-size: 12px;
}
.message-1 {
    fill:none;
}
.message-2 {
    fill: none;
    stroke: #fc766a;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width:2px;
}