.advertisement-item {
    height: 402px;
    width: auto;
    background-color: #F5F5F5;
}
.advertisement-item img {
    width: 100%;
}
.main-intention-container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
    padding: 8px 16px;
    margin: 8px auto 0;
    justify-content: space-between;
    background-color: #F5F5F5;
}
.intention-item {
    color: #FFFFFF;
    width: calc((100% - 16px) / 2);
    height: calc((100vh - 464px) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0;
}
.for-employee {
    background-color: #F3746A;
}
.for-employer {
    background-color: #F3D44E;
}
.for-coworker {
    background-color: #78C8A1;
}
.for-event {
    background-color: #B9B7D4;
}
@media screen and ( max-height: 568px ) {
    .main-intention-container{
    } 
    .intention-item {
        height: calc((100vh - 446px) / 2);
    }
}

@media screen and ( min-height: 800px ) {
    .main-intention-container{
    } 
    .intention-item {
        height: calc((100vh - 504px) / 2);
    }
}

@media screen and ( min-width: 415px ) {
    .main-intention-container{
        width: calc(414px - 32px);
    } 
}