<div class="app-bar-wrapper">
</div>
<div class="advertisement-item">
  <img src="../../../assets/img/cida.jpg" alt="啟達">
</div>

<div class="main-intention-container mobile-view-max-width">
  <div class="intention-item button-shadow for-employee" (click)="toEmployee()">
    我要應徵
  </div>
  <div class="intention-item button-shadow for-employer" (click)="toEmployee()">
    我要徵人
  </div>
  <div class="intention-item button-shadow for-coworker" (click)="toEmployee()">
    我要進駐
  </div>
  <div class="intention-item button-shadow for-event" (click)="toEmployee()">
    我要活動
  </div>
</div>